
<!-- 备注页面 -->
<section class="remark">
    <p class="appointmentNote-remark distance o_v">
        <span class="remark-text fl">备注:</span>
        <span class="remark-promit fr"><i class="remark-color">{{textLength}}</i><i>/200</i></span>
    </p>
    <div class="distance">
        <textarea class="appointmentNote-text" rows="10" ng-model="remark"></textarea>
    </div>

    <div class="remarkBtn o_v distance">
        <a class="saveBtn d_ib fr ta_c" ng-click="saveClick()">保存</a>
    </div>
</section>